@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*@import url(//db.onlinewebfonts.com/c/90fe831fa65b9632a4790c1a1732e9ab?family=Freight+Neo+Pro);*/
/*----------------greycliff-------------------*/
@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFBoldItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFHeavyItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFLightRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFThinItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFThinRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFThinRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFLightItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF Extra';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraLightRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraLightRegular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF Extra';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraLightItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF Demi';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFDemiBoldItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFDemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF Extra';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFBold.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFHeavyRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFHeavyRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFMediumItalic.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFMediumRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF Extra';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraBoldRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFExtraBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Greycliff CF Demi';
    src: url('../fonts/FONTSPRINGDEMO-GreycliffCFDemiBoldRegular.woff2') format('woff2'),
        url('../fonts/FONTSPRINGDEMO-GreycliffCFDemiBoldRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/*----------------greycliff-font-end-------------------*/
/*----------------'Alternate Gothic No2 D'-------------------*/
@font-face {
    font-family: 'Alternate Gothic No2 D';
    src: url('../fonts/AlternateGotNo2D.woff2') format('woff2'),
        url('../fonts/AlternateGotNo2D.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*----------------'Alternate Gothic No2 D-end'-------------------*/



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li, ul{
   list-style: none;
}
a, button{
	color: inherit;
	text-decoration: none;
	transition: 0.3s;
	cursor: pointer;
}
:hover, :focus{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
	margin: 0 auto;
	object-fit: cover;
}

:hover, :focus {	
	outline: none;
	text-decoration: none;
}

input, select, textarea, button{
	font-family: inherit;
}

body{
	overflow-x: hidden;
	position: relative;
}
.container{
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}
.top-header{
	display: flex;
	justify-content: space-between;
	align-content: center;
}
header.site_header {
    padding: 50px 0;
}
.top-header .site_menu ul.menu {
    display: flex;
    height: 100%;
}
.top-header .site_menu ul.menu li {
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.top-header .site_menu ul.menu li:last-child {
    padding-right: 0px;
}
.top-header .site_menu ul.menu li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'FONTSPRING DEMO - Greycliff CF';
}
.enroll-btn a {
    font-family: 'Alternate Gothic No2 D';
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 14px 42px;
    position: relative;

}
.enroll-btn a:hover {
    background-color: #fbe70c;
    border-color: #fbe70c;
    color: #333;
    transform: translate(-8px,8px);
    
}
.site_logo a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #222222;
    display: flex;
    align-items: center;
}
.enroll-btn a:before {
   display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fbe70c;
    opacity: 1;
    transform: translate(-8px,8px);
    transition: .33s ease-in-out;
    width: 7px;
    height: calc(100% - 8px);
}
.enroll-btn a:after{
	display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fbe70c;
    opacity: 1;
    transform: translate(-8px,8px);
    transition: .33s ease-in-out;
    width: 7px;
	width: calc(100% - 8px);
    height: 7px;
}
.enroll-btn a:hover:before{
	width: 0;
    height: 100%;
    z-index: -1;
    transform: translate(0,0);
}
.enroll-btn a:hover:after{
width: 100%;
    height: 0;
    z-index: -1;
    transform: translate(0,0);
	}
.site_logo a, .site_logo a svg {
    display: inline-block;
    height: 100%;
}
section.list-builders-society-section-main {
    padding: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 68px;
    position: relative;
    margin: 25px 0;
}
section.list-builders-society-section-main:before {
    position: absolute;
    content: '';
    background-color: #abd8d8;
    grid-column: 1/5;
    height: 100%;
    display: block;
    width: 30%;
    left: 0;
    z-index: -1;
}
.list-builders-society-left {
    display: flex;
}
.list-builders-society-left img {
    margin-right: 0;
}
.list-builders-society-content > h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    background-image: linear-gradient(rgba(255,255,255,0) 45%,#fbe70c 45%,#fbe70c);
    display: inline-block;
    margin-bottom: 13px;
}
.list-builders-society-content h3 span {
    font-family: 'Alternate Gothic No2 D';
}
.list-builders-society-content h1 {
    font-weight: 400;
    font-size: 75px;
    line-height: 69px;
    color: #222222;
    font-family: 'Alternate Gothic No2 D';
    margin-bottom: 32px;
}

.list-builders-society-content h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 38px;
    font-family: "Freight Neo Pro";
    max-width: 600px;
}
.list-builders-society-content p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #222222;
     font-family: 'FONTSPRING DEMO - Greycliff CF';
}
.list-builders-society-content p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #222222;
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    max-width: 560px;
}
.builders-society-content {
    margin-bottom: 70px;
}
.list-builders-society-content-bottom {
    display: flex;
    grid-gap: 70px;
    align-items: center;
}
.list-builders-society-content-bottom h3 span {
    font-weight: 400;
    font-size: 33px;
    line-height: 30px;
    color: #222222;
    font-family: 'Alternate Gothic No2 D';
    margin-right: 5px;
}
.list-builders-society-content p:first-child{
    margin-bottom: 32px;
}
section.gallery-logos {
    margin: 35px 0 60px 0;
}
.gallery-logos-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr;
}
.gallery-logos-list-item img {
    display: flex;
}
section.audience-looking-content {
    background: #F3F3F3;
    padding: 66px 0;
    text-align: center;
}
.audience-looking-content-main h3 {
    font-weight: 400;
    font-size: 41px;
    line-height: 50px;
    color: #333333;
    margin-bottom: 50px;
    font-family: 'Alternate Gothic No2 D';
}
.audience-looking-content-main p {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #494949;
    font-family: 'FONTSPRING DEMO - Greycliff CF';
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 32px;
}
span.same {
    font-family: 'Alternate Gothic No2 D';
     color: #494949!important;
     font-weight: 400!important;
}
.audience-looking-content-main p > span {
    color: #333333;
    font-weight: 700;
}
.enroll-btn {
    display: inline-flex;
}
section.list-grow {
    padding: 90px 0;
    text-align: center;
}
.list-grow-content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #494949;
    font-family: "Freight Neo Pro";
    max-width: 750px;
    margin: 0 auto 40px;
}
.list-grow-content p span {
    background: linear-gradient(rgba(255,255,255,0) 65%,#d0e6e6 65%,#d0e6e6);
}
.list-grow-content h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    color: #333333;
     font-family: 'FONTSPRING DEMO - Greycliff CF';
}
section.program-tabs {
    padding: 50px 0;
    text-align: center;
}
.program-tabs-heading h2 {
    font-weight: 400;
    font-size: 58px;
    line-height: 64px;
    text-align: center;
    color: #333333;
    font-family: 'Alternate Gothic No2 D';
    max-width: 500px;
    margin: 0 auto 30px;
}
.program-tabs-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 30px;
}
.program-tabs-list-flex .program-tabs-list-items {
    width: 31%;
    background: #E1E6C6;
    padding: 60px 20px;
    position: relative;
}
.program-tabs-list-items h3 {
    position: absolute;
    font-weight: 500;
    font-size: 60px;
    line-height: 79px;
    color: #494949;
    font-family: "Freight Neo Pro";
    top: -40px;
    left: 42%;
}
.program-tabs-list-items h2 {
    font-weight: 400;
    font-size: 41px;
    line-height: 45px;
    color: #222222;
    font-family: 'Alternate Gothic No2 D';
    max-width: 200px;
    margin: 20px auto;
}