@font-face {
    font-family: 'FreightNeoW03';
    src: url('FreightNeoW03-Medium.woff2') format('woff2'),
        url('FreightNeoW03-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

