@font-face {
    font-family: 'Alternate Gothic No2 D';
    src: url('AlternateGotNo2D.woff2') format('woff2'),
        url('AlternateGotNo2D.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightNeo Pro';
    src: url('FreightNeoProBold-Italic.woff2') format('woff2'),
        url('FreightNeoProBold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightNeo Pro';
    src: url('FreightNeoProMedium-Regular.woff2') format('woff2'),
        url('FreightNeoProMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Bold.woff2') format('woff2'),
        url('GreycliffCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Light.woff2') format('woff2'),
        url('GreycliffCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

